<%- include("partials/header.ejs"); %>
<div class="intro-hero">
    <h2 class="intro-hero-head">Hi, I am Ebanehita Aikhegbe</h1>
    <p class="intro-hero-text">Fullstack Developer and I built this simple test blog using NodeJS and ExpressJS without databases</p>
    <p class="intro-hero-text">Did you like it?</p>
    <button class="butn yes-butn">Yes</button>
    <button class="butn-light no-butn">No</button>
    <p class="intro-hero-text appre-text resp-text">Thank you so much. You can check the <a href="/contact" class="cont-page-link">contact</a> page to reach me.</p>
    <p class="intro-hero-text no-text resp-text">Aww, thank you for being honest!</p>
</div>

<%- include("partials/footer.ejs") %>